<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:layout name="Partial"/>

	<f:section name="Breadcrumb">
		

		<div class="breadcrumb-section">
			<div class="container">
				<div class="row">
	
					<v:page.breadCrumb class="breadcrumb pull-left" useShortcutUid="false" linkCurrent="FALSE" showCurrent="1" divider=""/>
			
				</div>
			</div>
		</div>
		
		
	</f:section>

</div>
